%content
  #headline-section
    .container
      .hemingway
        %h3#typing
          If a designer of web applications knows enough about what he's trying to communicate, he may omit things that he knows and the user will have a feeling of those things as strongly as though the designer has put them on the page. The dignity of movement of the iceberg is due to only one-eighth of it being above water.
        %h4#byline
          &#8212; Ernest Hemingway
        %h5#parens
          (if he were a web developer)
        %h1#icebergs
          We build icebergs.
        #cta-button
          %li#cta
            = link_to "Get a quote now", '#'
  #quote-section
    = render partial: 'quotes/new', object: quote
  #about-section
    .container
      .welovewhitespace
        %h1#about
          About
          %span.ux#about
            UX
          %span#about
            me.
        %p
          UXme. is a web development and user experience design boutique. We
          specialize in Ruby-on-Rails development of beautiful, powerful web
          applications. We care about only one thing: your user. Every decision we
          make is centered around your users, your customers.
        %p
          Our development philosophy is simple, what you leave off the page is as
          important as what you leave on. If Ernest Hemingway were a web
          developer, he'd work for us.
        %p.whitespace
          We love whitespace.
        #pullquote
          %blockquote.pquote
            %p
              We love simple, bold and ultra-minimal.
        %p.whitespace
          We use color only when there is a good reason to do so.
        %p
          UXme. web applications are about speed, elegance and simplicity. If you
          want your site to look like Yahoo.com, don't contact us. If you want your
          site to have to simple elegance of the Google home page, then we should
          talk. If you need help turning your great idea into something beautiful,
          then we'd love to help.
        %p
          UXme. was founded by Brian Dear, a New York City UX and Ruby-on-Rails
          consultant. He is the cofounder of #{link_to "iCouch.me", "http://icouch.me"}
          and the developer of the best-selling iOS therapy app, #{link_to "iCouch CBT", "http://itunes.apple.com/us/app/icouch-cbt/id446115508?mt=8"}.
        %h2#simple
          Just because it's simple, doesn't mean it's easy.
        #cta-button
          %li#cta
            = link_to "Get a quote now", '#'
        %h2#simple
#projects-section
  .container
    .weloveprojects
      %h1
        Projects
        %span.ux
          UX
        %span
          me.
      %p
        UXme. is a web development and user experience design boutique. We
        specialize in Ruby-on-Rails development of beautiful, powerful web
        applications. We care about only one thing: your user. Every decision we
        make is centered around your users, your customers.
      %p
        Our development philosophy is simple, what you leave off the page is as
        important as what you leave on. If Ernest Hemingway were a web
        developer, he'd work for us.
      %p
        We love whitespace. We love simple, bold and ultra-minimal. We use color
        only when there is a good reason to do so.
      %p
        UXme. web applications are about speed, elegance and simplicity. If you
        want your site to look like Yahoo.com, don't contact us. If you want your
        site to have to simple elegance of the Google home page, then we should
        talk. If you need help turning your great idea into something beautiful,
        then we'd love to help.
      %p
        UXme. was founded by Brian Dear, a New York City UX and Ruby-on-Rails
        consultant. He is the cofounder of #{link_to "iCouch.me", "http://icouch.me"}
        and the developer of the best-selling iOS therapy app, #{link_to "iCouch CBT", "http://itunes.apple.com/us/app/icouch-cbt/id446115508?mt=8"}.
      %h2
        Just because it's simple, doesn't mean it's easy.

#process-section
  .container
    .weloveprocess
      %h1
        The Process
        %span.ux
          UX
        %span
          me.
      %p
        UXme. is a web development and user experience design boutique. We
        specialize in Ruby-on-Rails development of beautiful, powerful web
        applications. We care about only one thing: your user. Every decision we
        make is centered around your users, your customers.
      %p
        Our development philosophy is simple, what you leave off the page is as
        important as what you leave on. If Ernest Hemingway were a web
        developer, he'd work for us.
      %p
        We love whitespace. We love simple, bold and ultra-minimal. We use color
        only when there is a good reason to do so.
      %p
        UXme. web applications are about speed, elegance and simplicity. If you
        want your site to look like Yahoo.com, don't contact us. If you want your
        site to have to simple elegance of the Google home page, then we should
        talk. If you need help turning your great idea into something beautiful,
        then we'd love to help.
      %p
        UXme. was founded by Brian Dear, a New York City UX and Ruby-on-Rails
        consultant. He is the cofounder of #{link_to "iCouch.me", "http://icouch.me"}
        and the developer of the best-selling iOS therapy app, #{link_to "iCouch CBT", "http://itunes.apple.com/us/app/icouch-cbt/id446115508?mt=8"}.
      %h2#simple
        Just because it's simple, doesn't mean it's easy.