#process-page
  .container
    .weloveprocess
      %h1
        The
        %span.ux
          UX
        %span
          me.
        Process
      %p
        With the proliferation of do-it-yourself website building tools, creating
        a web application is easier than ever. However, creating an effective,
        beautiful and elegant web application takes experience in not only design
        and programming, it also requires business experience. While it's not
        particularly hard to copy designs of successful websites, those websites
        are not
        %strong
          your
        business.
      %p
        Every business has something special to offer their customers and every
        business website should have only one goal: to convince visitors to take
        action. That action could be buying your product, asking for a quote,
        or visiting your store. Every decision in crafting your web application
        should always be focused on achieving that one goal.
      %p
        UXme. is Agile. We collaborate with you. Of course, you're the client
        and you're paying the bills, but creating an incredible web application
        is a team effort. We consider you an active partner and participant in
        all stages of the process.
      .circle
        = image_tag "step_one.png"
      %h2#process
        Discovery
      %p
        Discovery is fun. This is where the sky is the limit and budgets
        don't matter. We work with you to understand your business, your goals
        and your personality.
      %p
        This is when you can use your imagination. Perhaps we'll sketch on napkins,
        share photos and other websites that best communicate the look you want.
        During Discovery, we provide guidance, inspiration and experience to help
        you articulate your ideas.
      .circle
        = image_tag "step_two.png"
      %h2#process
        Story Carding
      %p
        Story Carding is where we act like a user. We decide on what a user should
        do on your site, from when they first visit your landing page until they
        tell their friends how great your product is.
      %p
        We'll build wireframes that allow you to see your site before it's actually
        built. Wireframes are like precision sketches that help you and us
        visualize the major elements and interactions of your site. This is an
        important step because it allows us to test ideas without the time expense
        of writing code or doing highly-detailed photoshop mockups.
      .circle
        = image_tag "step_three.png"
      %h2#process
        Design
      %p
        After we complete the wireframes for your site, we're ready to start
        choosing the typography, graphics and other elements for your site. Design
        is far more than just making your site look pretty. Great design is
        fundamental to making your users love your site (and buy what you're
        selling!)
      %p
        All design has one purpose: to enhance the user experience.
      .circle
        = image_tag "step_four.png"
      %h2#process
        Coding
      %p
        Coding is where the rubber meets the road. We turn the design elements
        and the wireframes into a fully functional site.
      %p
        You'll be our partner through the process. You'll interact with the site
        as it's being built. We set up a "staging" server that allows you to use
        your web application and provide very important feedback throughout the
        process. You'll be in regular communication with us on all aspects of
        the coding process.
      .circle
        = image_tag "step_five.png"
      %h2#process
        Rinse & Repeat
      %p
        After we create a working prototype of your site, the work isn't done!
        We'll launch your site and then observe how users interact with your
        web application. This is where we'll make refinements, fix any errors and
        improve upon things. We might add new features, take some out or redesign
        elements.
      %p
        For as long as you'd like us involved with your project, we're your
        technical and business consultants. Our goal is to create a web application
        that will serve your business for years to come.
      #cta-button
        %li#cta
          = link_to "Get a quote now", new_quote_path
      %h2#simple
      %br
      %br