!!!
%html
  %head
    %title [TITLE]
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/djo8lpt.js", :type => "text/javascript"}
      :javascript
        try{Typekit.load();}catch(e){}
    = yield :head
    / /[if IE]
    /   = javascript_include_tag 'html5'
  %body

    = render 'flashes'
    = yield
